root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 140
tab_width = 4
ij_continuation_indent_size = 8
ij_smart_tabs = false
ij_visual_guides = 140
ij_wrap_on_typing = false

[{*.kt,*.kts}]
ij_kotlin_align_in_columns_case_branch = true
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_blank_lines_after_class_header = 1
ij_kotlin_keep_line_breaks = true
ij_kotlin_name_count_to_use_star_import = 5

[*.{xml,svg}]
ij_xml_continuation_indent_size = 4

[*.{yaml,yml}]
indent_size = 2

[*.graphqls]
ij_formatter_enabled = false