/* Do not hardcode colors here */

* {
    box-sizing: border-box;
}

/*
   Supports the old way of doing theme-specific images

   From the GitHub Android app
*/
:root[data-color-mode="dark"] .markdown-body a[href$="#gh-light-mode-only"] {
    display: none;
}

:root[data-color-mode="light"] .markdown-body a[href$="#gh-dark-mode-only"] {
    display: none;
}

/*
    Web views hold on to their hover event if the app is backgrounded. We need to disable custom hover effects by setting a
    class on body and overriding them in CSS when we apply this workaround. When the mouse enters the web view again, we
    can disable our override.

    From the GitHub Android app
*/
body.hover-override a:not([target]) {
    background-color: transparent;
    transform: scale(1);
}

input:disabled {
    touch-action: none;
}

/* Our styles start here */

body {
    color: var(--onSurface);
}

img,
themed-picture {
    max-width: 100%;
}

a {
    color: var(--primary);
}

a.anchor {
    display: none;
}

pre,
.highlight pre {
    word-wrap: normal;
    white-space: pre;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body details {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Table */
/* This is based on the table design featured in https://m3.material.io/ */

.markdown-body table a {
    word-break: normal;
}

table, table *, pre {
    touch-action: pan-x;
}

.markdown-body table {
    display: block;
    overflow: auto;

    width: fit-content; /* Makes sure the table border doesn't extend further than the content */
    max-width: 100%;

    border-radius: 16px;
    border: 0.5px solid var(--outline);
    border-spacing: 0;
    border-collapse: collapse;
}

.markdown-body table td,
.markdown-body table th { /* All table cells */
    padding: 12px 18px;
    border-top: 0.5px solid var(--outline);
    border-right: 0.5px solid var(--outline);
}

.markdown-body thead:first-child tr:first-child th,
.markdown-body tbody:first-child tr:first-child td {
    border-top: 0; /* Prevents cell borders at the top of the table from making the border thicker */
}

.markdown-body tr :last-child {
    border-right: 0; /* Prevents cell borders at the end of the table from making the border thicker */
}

.markdown-body thead th { /* Header table cells */
    background-color: var(--surfaceContainer);
    color: var(--onSurfaceVariant);
    font-weight: 500;
}

/* Code */

pre, code, kbd {
    font-size: 1em;
    font-family: monospace;
}

.markdown-body code, /* Inline code blocks */
.markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    background-color: var(--surfaceContainerHigh);
    border-radius: 6px;
}

.markdown-body code br,
.markdown-body tt br { /* Hide horizontal divider in code blocks */
    display: none;
}

.markdown-body .highlight pre, /* Syntax highlighted code blocks */
.markdown-body pre {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: var(--surfaceContainer);
    border-radius: 8px
}

.markdown-body pre > code { /* Reset styles meant for inline code when inside a syntax highlighted block */
    padding: 0;
    margin: 0;
    background-color: none;
    border-radius: 0;
}